.card {
    display: flex;
    flex-direction: column;

    margin: 4px;

    border-radius: 4px;
}

.card .card-title-line {
    display: flex;
    justify-content: center;

    font-size: x-large;
    font-weight: 600;
    color: brown;
    margin-bottom: 5px;
    margin-top: 25px;

    overflow: hidden;
}

.card .card-title-line:before,
.card .card-title-line:after {
    background-color: rgba(0, 0, 0, 0.4);
    content: "";
    height: 1px;
    position: relative;
    width: 50%;
    top: 15px;
}
.card .card-title-line:before {
    right: 0.5em;
    margin-left: -50%;
}
.card .card-title-line:after {
    left: 0.5em;
    margin-right: -50%;
}

.card .card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 4px;
    padding: 3px 7px;
}

.card.card-bordered  .card-content {
    --card-content-shadow-color: rgba(0, 0, 0, .4);
    --card-content-shadow-size: 10px;
    box-shadow: inset 0 0 var(--card-content-shadow-size) var(--card-content-shadow-color);
}

.card.card-bordered.shadow-size-35px .card-content {
    --card-content-shadow-size: 35px;
}

.card.card-bordered  .card-content.cooper {
    --card-content-shadow-color: #b87333;
}

.card.card-bordered  .card-content.silver {
    --card-content-shadow-color: #c0c0c0;
}

.card.card-bordered  .card-content.gold {
    --card-content-shadow-color: #ffd700;
}

.card.card-bordered  .card-content.platinum {
    --card-content-shadow-color: #E5E4E2;
}


.card.card-bordered  .card-content div {
    color: black;
}

.card .card-footer-circle {
    background-color: #f1ead2;

    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    
    border: 2px solid rgba(0, 0, 0, .4);
    border-radius: 50%;
    padding: 3px;

    height: 25px;
    width: 50px;
    position: relative;
    top: -17px;
    font-weight: 600;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19),0 2px 5px rgba(0,0,0,0.23);
}