.collapsable > label {
    cursor: pointer;
}
.collapsable input[type='checkbox'] {
    display: none;
}

.collapsable > .card-content{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  
}

.collapsable > .card-title-line + :checked + .card-content{
    max-height: 1000px;
    transition: max-height 1s ease-in-out;
  
}
