.gems-table-content {
}

.gems-table-content .gems-table-content-items {
    width: 100%;
}

.gems-table-content .gems-table-content-item {
    height: 100px;
    width: 180px;
}

.gems-table-content .gems-table-content-item .item-quantity {
    font-weight: 600;
}

.gems-table-content .gems-table-content-item .item-description {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 3px;
}
