.gems-table-content {
}

.gems-table-content .gems-table-content-item {
    min-height: 130px;
    width: 180px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.gems-table-content .gems-table-content-item div:nth-child(1) {
    padding-bottom: 10px;
    padding-top: 7px;
    font-weight: 600;
}

.gems-table-content .gems-table-content-item div:nth-child(2) {
    flex-grow: 1;
}