.gems-table-content {
}

.gems-table-content .gems-table-content-items {
    width: 100%;
}

.gems-table-content .gems-table-content-item {
    height: 130px;
    width: 180px;
    display: flex;
    flex-direction: column;
}

.gems-table-content .gems-table-content-item div:nth-child(1) {
    align-self: center;
    padding-bottom: 5px;
}

.gems-table-content .gems-table-content-item div:nth-child(2) {
    flex-grow: 1;
}