.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header-cards-container .item {
  background-color: #664225;
  padding: 18px 32px;
  min-width: 100px;
}
 